@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 45, 55, 72;
  --background-end-rgb: 66, 153, 225;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom right,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  min-height: 100vh;
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-purple-500;
  }

  .translucent-input {
    background-color: rgba(255, 255, 255, 0.1); /* Light translucent white */
    backdrop-filter: blur(5px); /* Adds a blur effect */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  .translucent-input:focus {
    background-color: rgba(255, 255, 255, 0.3); /* Slightly less translucent on focus */
    border-color: rgba(255, 255, 255, 0.5); /* More pronounced border on focus */
    outline: none; /* Remove default outline */
  }
}
